<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/auth.css">

<%- include('../partials/nav.ejs') %>

    <% if(errorMessage) { %>
        <div class="flash error row">
            <%= errorMessage %>
        </div>
    <% } %>

    <section class="section__form">
        <h2 class="main-heading">login</h2>

        <form action="#" method="POST" class="form">
            <input type="text" name="email" id="email" placeholder="EMAIL" value="<%= email %>">
            <span class="label">e-mail</span>
            <input type="password" name="password" id="password" placeholder="PASSWORD">
            <span class="label">password</span>
            <button class="btn btn-blue btn-large form-btn">enter</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="signup-link">if you are new, register <a href="/signup" class="link link-blue">here</a></div>
        </form>
    </section>

<%- include('../partials/footer.ejs') %>